<!DOCTYPE html>
<html>
    <head>
        
        <title id="nameProject"></title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;900&display=swap" rel="stylesheet"> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
        <link rel="stylesheet" href="/styles/main"type="text/css" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 

    </head>
    <body>

        <nav>
            <div class="navbar navbar-light navbar-expand-lg bg-light" >

                <div class="container-fluid">
                    <a class="navbar-brand" href="/list">✸ Tau Board</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/list">Projects</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link active" href="#">About Site</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log Out</a>
                        </li>
                       

                    </ul>
                    
                    
                        
                </div>

            </div>

        </nav>

        <main>
            <div style="width: 80%; margin-left:auto; margin-right: auto; margin-top: 100px; background:#fff; border-radius:15px; padding:50px;	-webkit-box-shadow: 0px 0px 31px 0px #000000; 
    box-shadow: 0px 0px 31px 0px #000000;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget convallis neque, sit amet egestas massa. Nulla semper varius dui at aliquam. Sed malesuada nulla vel facilisis fringilla. Ut blandit neque ut magna pellentesque condimentum. Integer dignissim magna non efficitur elementum. Pellentesque maximus, justo luctus vehicula hendrerit, massa augue ullamcorper ex, sit amet interdum velit felis et sem. Phasellus ut dolor placerat, maximus purus in, sagittis justo. Duis efficitur lectus dolor, ut auctor eros sollicitudin auctor. Sed vel tristique mi, et volutpat dui. Nunc eget euismod metus, hendrerit ultrices velit. Nulla orci metus, semper id libero ut, eleifend feugiat risus. Phasellus mollis quis dolor nec tincidunt. In hendrerit lobortis lacus, id dignissim eros laoreet at. Curabitur neque nisl, maximus eget mi vitae, lacinia euismod odio.

Praesent pellentesque ligula eu fermentum volutpat. Etiam gravida orci mauris, non bibendum nulla efficitur ut. Cras accumsan tristique augue a lacinia. Sed nec ullamcorper ex. Morbi id viverra urna. Sed suscipit tempor finibus. Curabitur blandit laoreet mi, quis fermentum enim feugiat ac. Duis purus nulla, commodo ut ante eget, dictum dapibus est. Suspendisse sagittis finibus pellentesque. Duis ligula arcu, scelerisque nec tincidunt vitae, fringilla et augue. Ut vel posuere eros, vitae aliquet ante. Etiam ut quam arcu. Curabitur ligula libero, pulvinar ac ornare non, sodales id lectus. Proin venenatis velit vel euismod faucibus.

Integer viverra quam vel aliquet laoreet. Etiam aliquet leo id quam commodo lacinia. Nulla vel ligula erat. Donec semper quam id sapien pellentesque, eget vulputate dolor pharetra. Morbi pellentesque velit imperdiet, suscipit nisi non, bibendum augue. Phasellus non risus mauris. Sed eu felis felis. Nulla faucibus leo consectetur facilisis aliquet. Praesent blandit massa mi, et sollicitudin dui pharetra vitae. Sed tempor, metus sit amet vulputate tempor, elit libero pulvinar sem, ac finibus purus tortor vel leo. Nulla et ipsum ante. Donec non diam semper, ullamcorper velit pellentesque, venenatis enim. Mauris elit magna, ornare et tristique non, euismod sit amet turpis. Phasellus sed venenatis libero, eget pulvinar nulla. 
        </div>
        </main>
        
        
    </body>
</html>